.version.about /* version checker */
{
	color: #0000FE;
	background-color: #D30998;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1398px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -64px;
	margin-bottom: -1px;
	width: 0.01px;
}

#u1609
{
	z-index: 2;
	width: 1160px;
	height: 1563px;
	top: -302px;
	left: -100px;
}

#u1062
{
	z-index: 3;
	width: 1160px;
	left: -100px;
}

#u1063-3
{
	z-index: 4;
	width: 1160px;
	min-height: 199px;
	margin-right: -10000px;
}

#menuu1065
{
	z-index: 7;
	width: 360px;
	margin-right: -10000px;
	margin-top: 112px;
	left: 720px;
}

#u1586
{
	width: 78px;
	min-height: 42px;
	margin-right: -10000px;
}

#u1587
{
	width: 78px;
	padding-bottom: 18px;
}

#u1587:hover
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1588-4
{
	width: 53px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u1587:hover #u1588-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u1635
{
	width: 103px;
	min-height: 42px;
	margin-right: -10000px;
	left: 80px;
}

#u1636
{
	width: 103px;
	padding-bottom: 18px;
}

#u1636:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1636.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1637-4
{
	width: 78px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u1636:hover #u1637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u1636.MuseMenuActive #u1637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u1804
{
	width: 95px;
	min-height: 42px;
	margin-right: -10000px;
	left: 185px;
}

#u1805
{
	width: 95px;
	padding-bottom: 18px;
}

#u1805:hover
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u1805.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u1807-4
{
	width: 70px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u1805:hover #u1807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1805.MuseMenuActive #u1807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1902
{
	width: 78px;
	min-height: 42px;
	margin-right: -10000px;
	left: 282px;
}

#u1903
{
	width: 78px;
	padding-bottom: 18px;
}

#u1587.MuseMenuActive,#u1903:hover
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1903.MuseMenuActive
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1905-4
{
	width: 53px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u1587.MuseMenuActive #u1588-4,#u1903:hover #u1905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u1903.MuseMenuActive #u1905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u1064-4
{
	z-index: 32;
	width: 355px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 116px;
	left: 103px;
}

#pu1896
{
	width: 0.01px;
	margin-left: -18px;
	margin-top: 25px;
}

#u1896
{
	z-index: 72;
	width: 978px;
	height: 767px;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	border-radius: 16px;
	position: relative;
	margin-right: -10000px;
}

#u2105
{
	z-index: 73;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 24px;
}

#u1897
{
	z-index: 74;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1898-44
{
	z-index: 75;
	width: 928px;
	min-height: 521px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2104
{
	float: left;
	margin-top: 7px;
	margin-bottom: 3px;
	margin-right: 23px;
}

#u2098
{
	z-index: 80;
	width: 340px;
	background-color: transparent;
}

#u1898-8
{
	font-size: 23px;
	text-align: justify;
	color: #FFFFFF;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1898-7
{
	font-size: 8px;
	line-height: 10px;
}

#u1898-15
{
	font-size: 22px;
	text-align: justify;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1898-13
{
	font-size: 23px;
	line-height: 28px;
}

#u1898-14
{
	line-height: 26px;
}

#u1898-17
{
	font-size: 12px;
	text-align: justify;
	line-height: 14px;
	color: #FFFFFF;
}

#u1898-22
{
	font-size: 23px;
	text-align: center;
	line-height: 28px;
}

#u1898-18,#u1898-19,#u1898-21
{
	font-weight: 700;
}

#u1898-12,#u1898-24
{
	font-size: 8px;
	text-align: justify;
	line-height: 10px;
	color: #FFFFFF;
}

#u2097
{
	float: right;
	margin: 18px 10px 2px 24px;
}

#u2091
{
	z-index: 107;
	width: 376px;
	background-color: transparent;
}

#u1898-26
{
	font-size: 4px;
	color: #FFFFFF;
	line-height: 5px;
}

#u1898-27,#u1898-32
{
	font-size: 23px;
	text-align: justify;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1898-30
{
	font-size: 10px;
	line-height: 12px;
}

#u1898-31
{
	font-size: 8px;
	color: #FFFFFF;
	line-height: 10px;
}

#u1898-6,#u1898-10,#u1898-29,#u1898-40,#u1898-41
{
	font-size: 23px;
	text-align: justify;
	line-height: 28px;
}

#u1898-42
{
	font-size: 23px;
	text-align: justify;
	line-height: 28px;
	font-style: normal;
}

#u2053-4
{
	z-index: 125;
	width: 369px;
	min-height: 46px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 712px;
	left: 542px;
}

#u1095
{
	z-index: 36;
	width: 1160px;
	left: -100px;
	margin-top: 262px;
}

#u1102-3
{
	z-index: 37;
	width: 1160px;
	min-height: 203px;
	margin-right: -10000px;
}

#ppu1099-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 120px;
}

#pu1099-4
{
	width: 0.01px;
}

#u1099-4
{
	z-index: 42;
	margin-right: -10000px;
	margin-top: 23px;
}

#u1096-4
{
	z-index: 46;
	margin-right: -10000px;
}

#pu1100
{
	width: 0.01px;
	margin-top: 28px;
}

#u1100
{
	z-index: 40;
	width: 51px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 49px;
}

#u1100_img
{
	padding-bottom: 1px;
}

#u1103-4
{
	z-index: 50;
	margin-right: -10000px;
}

#u1097
{
	z-index: 54;
	width: 41px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 1px;
}

#u1104-16
{
	z-index: 56;
	margin-right: -10000px;
	margin-top: 19px;
	left: 695px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 8px;
}

#page .verticalspacer
{
	clear: both;
}

