.version.decision_trees_and_knn /* version checker */
{
	color: #00000E;
	background-color: #EACA6E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1398px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -64px;
	margin-bottom: -1px;
	width: 0.01px;
}

#u1609
{
	z-index: 2;
	width: 1160px;
	height: 1563px;
	top: -302px;
	left: -100px;
}

#u1062
{
	z-index: 3;
	width: 1160px;
	left: -100px;
}

#u1063-3
{
	z-index: 4;
	width: 1160px;
	min-height: 199px;
	margin-right: -10000px;
}

#menuu1065
{
	z-index: 7;
	width: 360px;
	margin-right: -10000px;
	margin-top: 112px;
	left: 720px;
}

#u1586
{
	width: 78px;
	min-height: 42px;
	margin-right: -10000px;
}

#u1587
{
	width: 78px;
	padding-bottom: 18px;
}

#u1587:hover
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1588-4
{
	width: 53px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u1587:hover #u1588-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u1635
{
	width: 103px;
	min-height: 42px;
	margin-right: -10000px;
	left: 80px;
}

#u1636
{
	width: 103px;
	padding-bottom: 18px;
}

#u1636:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1636.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1637-4
{
	width: 78px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u1636:hover #u1637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u1636.MuseMenuActive #u1637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u1804
{
	width: 95px;
	min-height: 42px;
	margin-right: -10000px;
	left: 185px;
}

#u1805
{
	width: 95px;
	padding-bottom: 18px;
}

#u1805:hover
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u1805.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u1807-4
{
	width: 70px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u1805:hover #u1807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1805.MuseMenuActive #u1807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1902
{
	width: 78px;
	min-height: 42px;
	margin-right: -10000px;
	left: 282px;
}

#u1903
{
	width: 78px;
	padding-bottom: 18px;
}

#u1587.MuseMenuActive,#u1903:hover
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1903.MuseMenuActive
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1905-4
{
	width: 53px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u1587.MuseMenuActive #u1588-4,#u1903:hover #u1905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u1903.MuseMenuActive #u1905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u1064-4
{
	z-index: 32;
	width: 355px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 116px;
	left: 103px;
}

#pu1993
{
	width: 0.01px;
	margin-left: -18px;
	margin-top: 25px;
}

#u1993
{
	z-index: 72;
	width: 978px;
	background-color: #FFFFFF;
	border-radius: 16px;
	padding-bottom: 54px;
	position: relative;
	margin-right: -10000px;
}

#u1994
{
	z-index: 73;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 24px;
}

#u1995-28
{
	z-index: 74;
	width: 928px;
	min-height: 521px;
	background-color: transparent;
	line-height: 28px;
	text-align: justify;
	font-size: 23px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#u1995
{
	font-weight: 700;
}

#u2126
{
	z-index: 102;
	width: 124px;
	min-height: 59px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 487px;
	left: 408px;
}

#u1095
{
	z-index: 36;
	width: 1160px;
	left: -100px;
	margin-top: 313px;
}

#u1102-3
{
	z-index: 37;
	width: 1160px;
	min-height: 203px;
	margin-right: -10000px;
}

#ppu1099-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 120px;
}

#pu1099-4
{
	width: 0.01px;
}

#u1099-4
{
	z-index: 42;
	margin-right: -10000px;
	margin-top: 23px;
}

#u1096-4
{
	z-index: 46;
	margin-right: -10000px;
}

#pu1100
{
	width: 0.01px;
	margin-top: 28px;
}

#u1100
{
	z-index: 40;
	width: 51px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 49px;
}

#u1100_img
{
	padding-bottom: 1px;
}

#u1103-4
{
	z-index: 50;
	margin-right: -10000px;
}

#u1097
{
	z-index: 54;
	width: 41px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 1px;
}

#u1104-16
{
	z-index: 56;
	margin-right: -10000px;
	margin-top: 19px;
	left: 695px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 8px;
}

#page .verticalspacer
{
	clear: both;
}

