.version.index /* version checker */
{
	color: #0000F0;
	background-color: #F07530;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 977px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -64px;
	width: 0.01px;
}

#u1525
{
	z-index: 2;
	width: 1160px;
	height: 930px;
	top: -124px;
	left: -100px;
}

#u1436
{
	z-index: 3;
	width: 1160px;
	left: -100px;
}

#u1438-3
{
	z-index: 4;
	width: 1160px;
	min-height: 199px;
	margin-right: -10000px;
}

#menuu1439
{
	z-index: 7;
	width: 360px;
	margin-right: -10000px;
	margin-top: 112px;
	left: 720px;
}

#u1600
{
	width: 78px;
	min-height: 42px;
	margin-right: -10000px;
}

#u1601
{
	width: 78px;
	padding-bottom: 18px;
}

#u1601:hover
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1604-4
{
	width: 53px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u1601:hover #u1604-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u1649
{
	width: 103px;
	min-height: 42px;
	margin-right: -10000px;
	left: 80px;
}

#u1652
{
	width: 103px;
	padding-bottom: 18px;
}

#u1652:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1652.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1655-4
{
	width: 78px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u1652:hover #u1655-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u1652.MuseMenuActive #u1655-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u1818
{
	width: 95px;
	min-height: 42px;
	margin-right: -10000px;
	left: 185px;
}

#u1819
{
	width: 95px;
	padding-bottom: 18px;
}

#u1819:hover
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u1819.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u1820-4
{
	width: 70px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u1819:hover #u1820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1819.MuseMenuActive #u1820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1909
{
	width: 78px;
	min-height: 42px;
	margin-right: -10000px;
	left: 282px;
}

#u1912
{
	width: 78px;
	padding-bottom: 18px;
}

#u1601.MuseMenuActive,#u1912:hover
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1912.MuseMenuActive
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1915-4
{
	width: 53px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u1601.MuseMenuActive #u1604-4,#u1912:hover #u1915-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u1912.MuseMenuActive #u1915-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u1437-4
{
	z-index: 32;
	width: 355px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 116px;
	left: 103px;
}

#u1501
{
	z-index: 73;
	width: 925px;
	margin-left: 15px;
	margin-top: 50px;
}

#u1502
{
	z-index: 74;
	width: 925px;
	margin-right: -10000px;
}

#u1503-4
{
	z-index: 75;
	width: 866px;
	min-height: 96px;
	margin-bottom: -17px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 29px;
}

#u1482
{
	z-index: 36;
	width: 1160px;
	left: -100px;
	margin-top: 495px;
}

#u1483-3
{
	z-index: 37;
	width: 1160px;
	min-height: 203px;
	margin-right: -10000px;
}

#ppu1484-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 120px;
}

#pu1484-4
{
	width: 0.01px;
}

#u1484-4
{
	z-index: 42;
	margin-right: -10000px;
	margin-top: 23px;
}

#u1491-4
{
	z-index: 46;
	margin-right: -10000px;
}

#pu1486
{
	width: 0.01px;
	margin-top: 28px;
}

#u1486
{
	z-index: 40;
	width: 51px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 49px;
}

#u1486_img
{
	padding-bottom: 1px;
}

#u1485-4
{
	z-index: 50;
	margin-right: -10000px;
}

#u1488
{
	z-index: 54;
	width: 41px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 1px;
}

#u1490-17
{
	z-index: 56;
	margin-right: -10000px;
	margin-top: 19px;
	left: 695px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 8px;
}

#page .verticalspacer
{
	clear: both;
}

