#u784-3
{
	background-color: #000000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
}

#u784
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#menuu785
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
}

#u793,#u796
{
	background-color: transparent;
	position: relative;
}

#u796:hover
{
	background-color: #999999;
}

#u796:active
{
	background-color: #6B6B6B;
}

#u798-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u786,#u787
{
	background-color: transparent;
	position: relative;
}

#u787:hover
{
	background-color: #999999;
}

#u787:active
{
	background-color: #6B6B6B;
}

#u788-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u800,#u801
{
	background-color: transparent;
	position: relative;
}

#u801:hover
{
	background-color: #999999;
}

#u801:active
{
	background-color: #6B6B6B;
}

#u796.MuseMenuActive,#u787.MuseMenuActive,#u801.MuseMenuActive
{
	background-color: transparent;
}

#u804-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u796.MuseMenuActive #u798-4 p,#u787.MuseMenuActive #u788-4 p,#u801.MuseMenuActive #u804-4 p
{
	color: #FF8BCE;
	visibility: inherit;
	font-size: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u807-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 36px;
	font-size: 30px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

.js #u784-3.ose_pre_init,.js #menuu785.ose_pre_init,.js #u807-4.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

