#u1525
{
	position: fixed;
	background: transparent url("../images/img_5339.jpg") no-repeat left top;
	background-size: cover;
}

#u1438-3
{
	background-color: #000000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
}

#u1438
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#menuu1439
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
}

#u1600,#u1601
{
	background-color: transparent;
	position: relative;
}

#u1601:hover
{
	background-color: #000000;
}

#u1604-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1601:hover #u1604-4 p
{
	color: #FEDAFF;
	visibility: inherit;
}

#u1649,#u1652
{
	background-color: transparent;
	position: relative;
}

#u1652:hover
{
	background-color: #000000;
}

#u1655-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1652:hover #u1655-4 p
{
	color: #FEDAFF;
	visibility: inherit;
}

#u1818,#u1819
{
	background-color: transparent;
	position: relative;
}

#u1819:hover
{
	background-color: #000000;
}

#u1820-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1819:hover #u1820-4 p
{
	color: #FEDAFF;
	visibility: inherit;
}

#u1909,#u1912
{
	background-color: transparent;
	position: relative;
}

#u1912:hover
{
	background-color: #000000;
}

#u1601.MuseMenuActive,#u1652.MuseMenuActive,#u1819.MuseMenuActive,#u1912.MuseMenuActive
{
	background-color: transparent;
}

#u1915-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1912:hover #u1915-4 p
{
	color: #FEDAFF;
	visibility: inherit;
}

#u1601.MuseMenuActive #u1604-4 p,#u1652.MuseMenuActive #u1655-4 p,#u1819.MuseMenuActive #u1820-4 p,#u1912.MuseMenuActive #u1915-4 p
{
	color: #FF8BCE;
	visibility: inherit;
	font-size: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1437-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

.js #u1438-3.ose_pre_init,.js #menuu1439.ose_pre_init,.js #u1437-4.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1502
{
	background-color: #FFFFFF;
	border-radius: 16px;
	position: relative;
}

#u1503-4
{
	background-color: transparent;
	line-height: 22px;
	text-align: justify;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
	position: relative;
}

#u1436,#u1501,#u1482
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1483-3
{
	background-color: #000000;
	position: relative;
}

#u1486,#u1488
{
	background-color: transparent;
	position: relative;
}

#u1484-4,#u1491-4,#u1485-4,#u1490-17
{
	display: block;
	vertical-align: top;
	position: relative;
}

