.version.projects /* version checker */
{
	color: #0000E4;
	background-color: #E30B54;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1271.9px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -100px;
	width: 0.01px;
}

#u563
{
	z-index: 32;
	width: 1160px;
	background-color: transparent;
	position: fixed;
	top: -405px;
	left: -100px;
}

#pu784-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u784-3
{
	z-index: 2;
	width: 1160px;
	min-height: 199px;
	margin-right: -10000px;
	margin-top: 64px;
}

#menuu785
{
	z-index: 5;
	width: 360px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 720px;
}

#u793
{
	width: 118px;
	min-height: 42px;
	margin-right: -10000px;
}

#u796
{
	width: 118px;
	padding-bottom: 18px;
}

#u796:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u796:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u796.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u798-4
{
	width: 118px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
}

#u796:hover #u798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u796:active #u798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u786
{
	width: 119px;
	min-height: 42px;
	margin-right: -10000px;
	left: 120px;
}

#u787
{
	width: 119px;
	padding-bottom: 18px;
}

#u787:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u787:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u788-4
{
	width: 119px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
}

#u787:hover #u788-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u787:active #u788-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u800
{
	width: 119px;
	min-height: 42px;
	margin-right: -10000px;
	left: 241px;
}

#u801
{
	width: 119px;
	padding-bottom: 18px;
}

#u787.MuseMenuActive,#u801:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u801:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u801.MuseMenuActive
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u804-4
{
	width: 119px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
}

#u787.MuseMenuActive #u788-4,#u801:hover #u804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u801:active #u804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u807-4
{
	z-index: 24;
	width: 355px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 179px;
	left: 103px;
}

#u782-4
{
	z-index: 28;
	width: 298px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
	left: 269px;
}

#u569
{
	z-index: 34;
	width: 692px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
	left: 142px;
}

#u552
{
	z-index: 83;
	width: 980px;
	height: 490px;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	border-radius: 16px;
	margin-bottom: -8px;
	position: relative;
	margin-right: -10000px;
	left: -54px;
}

#u570-4
{
	z-index: 35;
	width: 18px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 836px;
}

#u565-4
{
	z-index: 39;
	width: 18px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 957px;
}

#u632
{
	z-index: 48;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u634-3
{
	z-index: 49;
	width: 1160px;
	min-height: 199px;
	background-color: #000000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

.js #u634-3.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#menuu635
{
	z-index: 52;
	width: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 112px;
	left: 720px;
}

#u643
{
	width: 118px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u646
{
	width: 118px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u646:hover
{
	background-color: #000000;
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u648-4
{
	width: 118px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u796.MuseMenuActive #u798-4,#u646:hover #u648-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u646.MuseMenuActive #u648-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u646:hover #u648-4 p
{
	color: #FEDAFF;
	visibility: inherit;
}

#u646.MuseMenuActive #u648-4 p
{
	color: #FF8BCE;
	visibility: inherit;
	font-size: 20px;
}

#u636
{
	width: 119px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u637
{
	width: 119px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u637:hover
{
	background-color: #000000;
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u640-4
{
	width: 119px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u801.MuseMenuActive #u804-4,#u637:hover #u640-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u637:hover #u640-4 p
{
	color: #FEDAFF;
	visibility: inherit;
}

#u650
{
	width: 119px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u653
{
	width: 119px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u653.MuseMenuActive
{
	background-color: transparent;
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u654-4
{
	width: 119px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 0px;
}

#u637.MuseMenuActive #u640-4,#u653:hover #u654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u653.MuseMenuActive #u654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u653:hover #u654-4 p
{
	color: #FEDAFF;
	visibility: inherit;
}

#u637.MuseMenuActive #u640-4 p,#u653.MuseMenuActive #u654-4 p
{
	color: #FF8BCE;
	visibility: inherit;
	font-size: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u633-4
{
	z-index: 71;
	width: 355px;
	min-height: 38px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 103px;
}

#u688-4
{
	z-index: 75;
	width: 18px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 835px;
}

#u689-4
{
	z-index: 79;
	width: 18px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 957px;
}

#u555
{
	z-index: 84;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 114px;
}

#u556-35
{
	z-index: 85;
	width: 928px;
	min-height: 521px;
	background-color: transparent;
	font-size: 23px;
	line-height: 28px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u556-12 > li:before,#u556-19 > li:before,#u556-26 > li:before,#u556-33 > li:before
{
	content: '-';
}

#u556-3,#u556-5,#u556-8,#u556-11,#u556-13,#u556-15,#u556-18,#u556-20,#u556-22,#u556-25,#u556-27,#u556-29,#u556-32
{
	font-style: normal;
}

#u556-2,#u556-7,#u556-10,#u556-17,#u556-24,#u556-31
{
	font-style: italic;
}

#pu587-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 400px;
}

#u587-3
{
	z-index: 43;
	width: 1160px;
	min-height: 207px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u567
{
	z-index: 46;
	width: 51px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 169px;
}

#u567_img
{
	padding-bottom: 1px;
}

#u554-4
{
	z-index: 120;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 120px;
}

#u557-4
{
	z-index: 124;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 120px;
}

#u558-4
{
	z-index: 128;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 120px;
}

#u550
{
	z-index: 132;
	width: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 121px;
}

#u613-16
{
	z-index: 134;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 693px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

