.version.research /* version checker */
{
	color: #00000C;
	background-color: #E81B7F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1398px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -64px;
	margin-bottom: -1px;
	width: 0.01px;
}

#u1609
{
	z-index: 2;
	width: 1160px;
	height: 1563px;
	top: -302px;
	left: -100px;
}

#u1062
{
	z-index: 3;
	width: 1160px;
	left: -100px;
}

#u1063-3
{
	z-index: 4;
	width: 1160px;
	min-height: 199px;
	margin-right: -10000px;
}

#menuu1065
{
	z-index: 7;
	width: 360px;
	margin-right: -10000px;
	margin-top: 112px;
	left: 720px;
}

#u1586
{
	width: 118px;
	min-height: 42px;
	margin-right: -10000px;
}

#u1587
{
	width: 118px;
	padding-bottom: 18px;
}

#u1587:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1587.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1588-4
{
	width: 118px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
}

#u1587:hover #u1588-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1587.MuseMenuActive #u1588-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1635
{
	width: 119px;
	min-height: 42px;
	margin-right: -10000px;
	left: 120px;
}

#u1636
{
	width: 119px;
	padding-bottom: 18px;
}

#u1636:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1637-4
{
	width: 119px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
}

#u1636:hover #u1637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1804
{
	width: 119px;
	min-height: 42px;
	margin-right: -10000px;
	left: 241px;
}

#u1805
{
	width: 119px;
	padding-bottom: 18px;
}

#u1636.MuseMenuActive,#u1805:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1805.MuseMenuActive
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1807-4
{
	width: 119px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
}

#u1636.MuseMenuActive #u1637-4,#u1805:hover #u1807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1805.MuseMenuActive #u1807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1064-4
{
	z-index: 26;
	width: 355px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 116px;
	left: 103px;
}

#pu1715
{
	z-index: 66;
	width: 0.01px;
	position: relative;
	margin-left: -20px;
	margin-top: 25px;
}

#u1715
{
	z-index: 0;
	width: 980px;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	border-radius: 16px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1716
{
	width: 0.01px;
	position: relative;
	left: 26px;
	padding-top: 25px;
	z-index: 2;
	padding-bottom: 14px;
}

#u1716
{
	z-index: 67;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1717-53
{
	z-index: 68;
	width: 928px;
	min-height: 521px;
	background-color: transparent;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
}

#u1717-2
{
	font-size: 23px;
	line-height: 28px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u1717-4
{
	font-size: 21px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1717-3
{
	font-size: 10px;
	line-height: 12px;
}

#u1717-13
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u1717-6,#u1717-8,#u1717-15
{
	text-decoration: none;
	color: #000AA0;
}

#u1718
{
	float: right;
	margin-bottom: 3px;
	margin-left: 24px;
	margin-right: 10px;
}

#u1719
{
	z-index: 90;
	width: 323px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1720
{
	z-index: 91;
	width: 323px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1722-7
{
	z-index: 93;
	width: 310px;
	min-height: 44px;
	background-color: transparent;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 325px;
	left: 7px;
}

#u1717-24
{
	font-weight: 700;
	font-style: normal;
}

#u1717-30
{
	font-size: 21px;
	line-height: 25px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
}

#u1717-35
{
	font-style: normal;
}

#u1717-10,#u1717-20,#u1717-43
{
	font-size: 21px;
	line-height: 25px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u1717-12,#u1717-22,#u1717-28,#u1717-32,#u1717-39,#u1717-45
{
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u1717-26,#u1717-37,#u1717-51
{
	font-size: 21px;
	line-height: 25px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u1722-3,#u1717-34,#u1717-41,#u1717-47,#u1717-49
{
	font-style: italic;
}

#u1095
{
	z-index: 30;
	width: 1160px;
	left: -100px;
	margin-top: 235px;
}

#u1102-3
{
	z-index: 31;
	width: 1160px;
	min-height: 203px;
	margin-right: -10000px;
}

#ppu1099-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 120px;
}

#pu1099-4
{
	width: 0.01px;
}

#u1099-4
{
	z-index: 36;
	margin-right: -10000px;
	margin-top: 23px;
}

#u1096-4
{
	z-index: 40;
	margin-right: -10000px;
}

#pu1100
{
	width: 0.01px;
	margin-top: 28px;
}

#u1100
{
	z-index: 34;
	width: 51px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 49px;
}

#u1100_img
{
	padding-bottom: 1px;
}

#u1103-4
{
	z-index: 44;
	margin-right: -10000px;
}

#u1097
{
	z-index: 48;
	width: 41px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 1px;
}

#u1104-16
{
	z-index: 50;
	margin-right: -10000px;
	margin-top: 19px;
	left: 695px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 8px;
}

#page .verticalspacer
{
	clear: both;
}

