.version.research /* version checker */
{
	color: #000012;
	background-color: #EA2855;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1398px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -64px;
	margin-bottom: -1px;
	width: 0.01px;
}

#u1609
{
	z-index: 2;
	width: 1160px;
	height: 1563px;
	top: -302px;
	left: -100px;
}

#u1062
{
	z-index: 3;
	width: 1160px;
	left: -100px;
}

#u1063-3
{
	z-index: 4;
	width: 1160px;
	min-height: 199px;
	margin-right: -10000px;
}

#menuu1065
{
	z-index: 7;
	width: 378px;
	margin-right: -10000px;
	margin-top: 112px;
	left: 720px;
}

#u1586
{
	width: 80px;
	min-height: 42px;
	margin-right: -10000px;
}

#u1587
{
	width: 80px;
	padding-bottom: 18px;
}

#u1587:hover
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u1587.MuseMenuActive
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u1588-4
{
	width: 55px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u1587:hover #u1588-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u1587.MuseMenuActive #u1588-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u1635
{
	width: 113px;
	min-height: 42px;
	margin-right: -10000px;
	left: 82px;
}

#u1636
{
	width: 113px;
	padding-bottom: 18px;
}

#u1636:hover
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u1636.MuseMenuActive
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u1637-4
{
	width: 88px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u1636:hover #u1637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1636.MuseMenuActive #u1637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1804
{
	width: 100px;
	min-height: 42px;
	margin-right: -10000px;
	left: 197px;
}

#u1805
{
	width: 100px;
	padding-bottom: 18px;
}

#u1805:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u1805.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u1807-4
{
	width: 75px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u1805:hover #u1807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u1805.MuseMenuActive #u1807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u1902
{
	width: 79px;
	min-height: 42px;
	margin-right: -10000px;
	left: 299px;
}

#u1903
{
	width: 79px;
	padding-bottom: 18px;
}

#u1903:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u1903.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u1905-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u1903:hover #u1905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u1903.MuseMenuActive #u1905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u1064-4
{
	z-index: 32;
	width: 355px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 116px;
	left: 103px;
}

#pu1715
{
	width: 0.01px;
	margin-left: -20px;
	margin-top: 25px;
}

#u1715
{
	z-index: 73;
	width: 980px;
	height: 557px;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	border-radius: 16px;
	position: relative;
	margin-right: -10000px;
}

#u1716
{
	z-index: 74;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 26px;
}

#u1717-15
{
	z-index: 75;
	width: 928px;
	min-height: 521px;
	background-color: transparent;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1717-2
{
	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
	font-style: normal;
}

#u1717-4
{
	font-size: 5px;
	line-height: 6px;
	color: #FFFFFF;
	font-weight: 400;
	font-style: normal;
}

#u1717-7
{
	font-size: 21px;
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2431
{
	float: right;
	margin-top: 17px;
	margin-bottom: -17px;
	margin-left: 24px;
}

#u2423
{
	z-index: 84;
	width: 323px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u2425
{
	z-index: 85;
	width: 323px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2424-7
{
	z-index: 87;
	width: 310px;
	min-height: 44px;
	background-color: transparent;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 7px;
}

#u2424-3
{
	font-style: italic;
}

#u1717-6
{
	font-size: 17px;
	line-height: 21px;
}

#u1717-8
{
	font-size: 21px;
	line-height: 25px;
	font-weight: 400;
}

#u1717-10
{
	font-size: 17px;
	line-height: 21px;
	font-weight: 400;
}

#u1717-12
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	font-style: normal;
}

#u1717-13
{
	font-size: 21px;
	line-height: 25px;
	font-weight: 400;
	font-style: italic;
}

#u2474-3
{
	z-index: 101;
	width: 3px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 1035px;
}

#u1095
{
	z-index: 36;
	width: 1160px;
	left: -100px;
	margin-top: 479px;
}

#u1102-3
{
	z-index: 37;
	width: 1160px;
	min-height: 203px;
	margin-right: -10000px;
}

#ppu1099-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 120px;
}

#pu1099-4
{
	width: 0.01px;
}

#u1099-4
{
	z-index: 42;
	margin-right: -10000px;
	margin-top: 23px;
}

#u1096-4
{
	z-index: 46;
	margin-right: -10000px;
}

#pu1100
{
	width: 0.01px;
	margin-top: 28px;
}

#u1100
{
	z-index: 40;
	width: 51px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 49px;
}

#u1100_img
{
	padding-bottom: 1px;
}

#u1103-4
{
	z-index: 50;
	margin-right: -10000px;
}

#u1097
{
	z-index: 54;
	width: 41px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 1px;
}

#u1104-17
{
	z-index: 56;
	margin-right: -10000px;
	margin-top: 19px;
	left: 695px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 8px;
}

#page .verticalspacer
{
	clear: both;
}

