.version.what_i_m_reading /* version checker */
{
	color: #000014;
	background-color: #C818D1;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/dasha_umbrella_crop5.jpg") no-repeat center top fixed;
	background-size: contain;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1194px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content,#pu2672
{
	width: 0.01px;
}

#u2672
{
	z-index: 2;
	width: 380px;
	margin-right: -10000px;
}

#u2674-3
{
	z-index: 3;
	width: 380px;
	min-height: 74px;
	margin-right: -10000px;
}

#u2673-4
{
	z-index: 6;
	width: 159px;
	min-height: 39px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 31px;
}

#menuu2898
{
	z-index: 10;
	width: 101px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 279px;
}

#u2899
{
	width: 101px;
	min-height: 71px;
	margin-right: -10000px;
}

#u2900
{
	width: 101px;
	padding-bottom: 49px;
}

#u2900:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u2900.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u2903-4
{
	width: 44px;
	min-height: 22px;
	margin-right: -10000px;
	top: 24px;
	left: 28px;
}

#u2900:hover #u2903-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u2900.MuseMenuActive #u2903-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u2904
{
	width: 100px;
	top: 71px;
}

#u3362
{
	width: 98px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u3364-4
{
	width: 38px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u3362:hover #u3364-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u3362.MuseMenuActive #u3364-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u2928
{
	width: 98px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u3362.MuseMenuActive,#u2928:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2930-4
{
	width: 57px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 16px;
}

#u2928:hover #u2930-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u2928.MuseMenuActive #u2930-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u2935
{
	width: 98px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u2936-4
{
	width: 51px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 19px;
}

#u2935:hover #u2936-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u2935.MuseMenuActive #u2936-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u2905,#u3361,#u2927,#u2934,#u2941
{
	width: 100px;
}

#u2944
{
	width: 98px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u2928.MuseMenuActive,#u2935.MuseMenuActive,#u2944.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2947-4
{
	width: 39px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u2944:hover #u2947-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u2944.MuseMenuActive #u2947-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u3609-6
{
	z-index: 43;
	width: 79px;
	min-height: 33px;
	background-color: transparent;
	color: #FF8BCE;
	line-height: 22px;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 216px;
}

#u3609-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3609
{
	font-size: 20px;
	line-height: 24px;
}

#u3609-2
{
	line-height: 22px;
}

#u3609-3
{
	color: #FFFFFF;
	line-height: 22px;
}

#pu3595
{
	z-index: 64;
	width: 0.01px;
	position: relative;
	margin-left: 12px;
	margin-top: 15px;
}

#u3595
{
	z-index: 0;
	width: 357px;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	border-radius: 16px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu3596
{
	width: 0.01px;
	position: relative;
	left: 17px;
	padding-top: 18px;
	z-index: 2;
	padding-bottom: 10px;
}

#u3596
{
	z-index: 65;
	width: 322px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3597
{
	z-index: 66;
	width: 322px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3598-75
{
	z-index: 67;
	width: 322px;
	min-height: 932px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u3598-4,#u3598-14,#u3598-20,#u3598-24,#u3598-28,#u3598-32,#u3598-36,#u3598-40,#u3598-44
{
	font-weight: 700;
	padding: 10px 10px 3px 18px;
}

#u3598-2,#u3598-9,#u3598-10,#u3598-12,#u3598-15,#u3598-16,#u3598-18,#u3598-21,#u3598-25,#u3598-29,#u3598-33,#u3598-37,#u3598-41
{
	font-weight: 400;
}

#u3598-13,#u3598-19,#u3598-23,#u3598-27,#u3598-31,#u3598-35,#u3598-39,#u3598-43
{
	font-weight: 400;
	font-style: italic;
}

#u3598-6,#u3598-8,#u3598-46,#u3598-49,#u3598-52,#u3598-55,#u3598-58,#u3598-60,#u3598-63,#u3598-66,#u3598-69,#u3598-72
{
	font-weight: 400;
	padding: 10px 10px 3px 18px;
}

#u3598-48,#u3598-51,#u3598-54,#u3598-57,#u3598-62,#u3598-65,#u3598-68,#u3598-71
{
	font-style: italic;
}

#u3598-73
{
	font-weight: 400;
	font-style: normal;
}

#pu3239-3
{
	width: 0.01px;
	margin-top: 8px;
}

#u3239-3,#u3239-3-bw
{
	z-index: 49;
	min-height: 76px;
}

#u3240
{
	z-index: 52;
	width: 51px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 314px;
}

#u3240_img
{
	padding-bottom: 1px;
}

#u3242-4
{
	z-index: 54;
	margin-right: -10000px;
	margin-top: 34px;
	left: 10px;
}

#u3243-4
{
	z-index: 58;
	margin-right: -10000px;
	margin-top: 14px;
	left: 10px;
}

#u3244
{
	z-index: 62;
	width: 41px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 266px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

